body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.CodeMirror {
    height: auto;
}
.CodeMirror {
    font-family: "Menlo", monospace;
    font-size: 12px;
}